/* div{background-color: white;
    width: 100%;

    position: fixed;
    }
    li{
        list-style: none;
    } */

body{
    box-sizing: border-box;
    margin-top: 0px;
}
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: white;
        position: fixed;  
        top: 0px; 
        width: 100%;
        }
      
      .logo img {
        max-height: 60px;
        /* Adjust the height as needed */
      }
      
      .links {
        list-style: none;
        padding-left: 10px;
        padding-right: 30px;
        margin: 30px;
        display: flex;
      }
      
      .links li {padding: 20px;
        margin-right: 30px;
        color: whitesmoke;
      }
      
      .links li:last-child {
        background-color: black;
        padding: 30;
        margin-right: 10px;
      }
      
      .links li a {
        text-decoration: none;
        color: #333;
      }
      



div a{
    float: right;
    padding-left: 20px;
}
.home{background-color: black;
    
    padding:px;
    }

.logos{
  
  padding-top: 90px;
    margin-top: 70px;
background-color: black;
padding-bottom: 20px;
}
section{
    color: white;
    /* margin: 30px auto; */
    /* height: 350px; */
    background-color: rgba(17, 10, 116, 0.856);
    text-align: center;
    justify-content: center;
}
.alt_school{
  padding-bottom: 10px;
}
h1,p{
    padding-top: 100px;
}
p{
  padding-bottom:  50px;
}
h1{padding-top: 150px;
  margin-top: 20px;
}

#ref{
  background-color: white;
     justify-content: center;
     text-align: center;
    
}